fastapi
uvicorn[standard]>=0.23.0
sqlalchemy>=2.0.0
aiosqlite>=0.19.0
psycopg2-binary>=2.9.9
asyncpg>=0.28.0
python-dotenv>=1.0.0
bcrypt>=4.0.1
pyjwt>=2.8.0
aiogram>=3.1.1
websockets>=11.0.3
greenlet
httpx
PyJWT
bcrypt
psutil
python-multipart
pydantic
