@import "tailwindcss";

@theme {
  --color-brand-orange: #F97316;
  --color-brand-red: #DC2626;
  --color-brand-dark: #111111;
  --color-brand-gray: #222222;
}
body {
  background-color: #111111;
  color: white;
}
